:root {
    --color-beckground-footer: #2F303A;
    --color-accent: #2196F3;
    --color-button:  #188CE8; 
    --color-white: #FFFFFF;
    --text-color-black: #212121;
    --text-color-gray: #757575;
    --text-color-contacts-footer: rgba(255,255,255,0.6);
    --items:3;
    --indent: 30px;
}